a {
  text-decoration: none;
  color: var(--black);
}
.form-title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.container {
  display: flex;
  justify-content: center;
}
.login-form-container {
  min-width: 15rem;
  margin: 5rem 1rem;
  background-color: var(--white);
  padding: 2rem 1rem;
}
.login-form,
.login-form-footer {
  display: flex;
  flex-direction: column;
}
.login-form {
  gap: 5px;
}
.sign-up {
  min-width: 15rem;
  margin: 3.5rem 2rem;
}
.remember-me-section {
  display: flex;
  justify-content: space-between;
}
.login-form-footer {
  margin-top: 10px;
  align-items: center;
  gap: 1rem;
}
.login-form-container input {
  padding: 0.6rem;
  margin-bottom: 0.7rem;
  border-radius: 5px;
  border: 1px solid;
  outline: 1px solid transparent;
}
.card-with-shadow {
  border-radius: 10px;
}
.btn {
  justify-content: center;
}
.guest-btn {
  margin-top: 10px;
}

@media screen and (min-width: 950px) {
  .login-form-container {
    min-width: 20rem;
  }
  .sign-up {
    min-width: 25rem;
  }
}
@media screen and (max-width: 600px) {
  .login-form-container {
    width: 20rem;
  }
  .sign-up {
    width: 25rem;
  }
}
