.filters-aside {
  display: flex;
  flex-direction: column;
  min-width: 18.5rem;
  padding: 1rem 2rem;
  gap: 1.8rem;
  background-color: var(--secondary-color);
}
/* Clear Filter */
.clear-txt {
  color: var(--accent-color);
  text-decoration: underline;
}
/* Range Slider Div*/
.slider {
  width: 100%;
}
/* Input Range Itself */
.range-slider {
  width: 100%;
  margin-top: 10px;
}
/* product-display */
.title {
  margin-top: 2rem;
  margin-left: 2.5rem;
  font-size: 1.6rem;
}
.product-display {
  margin: 1.5rem 0 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.7rem;
}
/*Favorite-btn*/
.favorite-btn {
  position: absolute;
  right: 1.3rem;
  top: 1.3rem;
  color: var(--danger);
  font-size: 1.5rem;
  cursor: pointer;
}
.card-info {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  color: var(--primary-color);
  font-size: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-title {
  font-size: 1.2rem;
}
.card-display-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 5rem;
}
.grid-container {
  width: 85%;
  margin: 2rem auto;
}
.rating-icon {
  color: #f0cd06;
}
/* responsive css */

@media screen and (max-width: 1300px) {
  .card-display-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 950px) {
  .card-display-container {
    grid-template-columns: 1fr 1fr;
  }
}
