.filters-aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  min-width: 18.5rem;
  padding: 1rem 2rem;
  gap: 1.8rem;
  background-color: var(--secondary-color);
  height: 100%;
  overflow-y: auto;
  padding-bottom: 9rem;
  z-index: 100;
}
/* Clear Filter */
.clear-txt {
  color: var(--accent-color);
  text-decoration: underline;
}
/* Range Slider Div*/
.slider {
  width: 100%;
}
/* Input Range Itself */
.range-slider {
  width: 100%;
  margin-top: 10px;
}
/* filter */
.show-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-right: 1rem;
  font-size: 1.3rem;
  text-decoration: underline;
  cursor: pointer;
  padding-top: 1rem;
}
.products-container {
  margin-left: 20rem;
}
/* product-display */
.title {
  padding-top: 1rem;
  margin-left: 1.1rem;
  font-size: 1.6rem;
}
.product-display {
  margin: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2.7rem;
}
/*Favorite-btn*/
.favorite-btn {
  position: absolute;
  right: 1.3rem;
  top: 1.3rem;
  color: var(--danger);
  font-size: 1.5rem;
  cursor: pointer;
}
.card-info {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  color: var(--primary-color);
  font-size: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-title {
  font-size: 1.2rem;
}
.card-display-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 5rem;
}
.grid-container {
  width: 85%;
  margin: 2rem auto;
}
.rating-outline {
  border: 2px solid gold;
  border-radius: 8px;
  padding: 5px;
  gap: 5px;
}
.rating-icon {
  color: #f0cd06;
}
.offer-info {
  color: #21f88c;
}
/* responsive css */
@media screen and (min-width: 1200px) {
  .show-filter {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .card-display-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 950px) {
  .card-display-container {
    grid-template-columns: 1fr 1fr;
  }
  .products-container {
    margin-left: auto;
  }
  #btn-ham-burger {
    display: flex;
  }
  .trans-on {
    left: 0;
    transition: left 0.5s ease-out;
  }
  .trans-off {
    left: -25rem;
    transition: left 1s ease-out;
  }
}

@media screen and (max-width: 800px) {
  .product-display {
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  .card-display-container {
    grid-template-columns: 1fr;
  }
}
