.gu-navbar {
  background: var(--black);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 12vh;
  position: sticky;
  top: 0;
  z-index: 10;
}
.logo {
  object-fit: cover;
  width: 5rem;
}
.nav-logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-logo a {
  color: var(--primary-color);
}
.nav-list {
  margin: 0;
  gap: 10px;
}
/* navbar search  */
.nav-search-div {
  display: inline-flex;
  flex-wrap: nowrap;
  width: 25rem;
}
.nav-search {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.search-icon {
  padding: 1rem;
  background: var(--primary-color);
  color: var(--black);
  margin: 0;
  gap: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* navabar icons */
.gu-icon {
  color: var(--primary-color);
  font-size: 1.5rem;
}
.gu-badge {
  margin: 0;
}
.notify-num {
  background: var(--accent-color);
}
#login-btn {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--accent-color);
  padding: 10px 20px;
  font-weight: 600;
  margin-left: 1rem;
}
#btn-ham-burger {
  background-color: transparent;
  color: var(--primary-color);
  border: 0;
  font-size: 1.6rem;
  margin-right: 2rem;
  display: none;
}
.hamBurger-div {
  background: var(--black);
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem 2rem;
  transition: 0.3s;
  border-bottom-left-radius: 1.3rem;
  z-index: 5;
  display: none;
}
.hamBurger-div ul {
  margin: 1rem;
  font-size: 1.2rem;
}
.hamBurger-div ul a {
  color: var(--primary-color);
}
.close-sideBar-btn {
  margin-top: 1rem;
  margin-left: auto;
  color: var(--primary-color);
  font-size: 1.5rem;
}
.linkStyle {
  text-decoration: none;
  color: var(--primary-color);
}
.navlist {
  position: absolute;
  top: 12vh;
  right: 0;
  background-color: var(--secondary-color);
  border-bottom-left-radius: 10px;
}
.navlist .linkStyle {
  display: block;
  color: var(--black);
  padding: 0.8rem 4rem 1rem 2rem;
  font-size: 1.1rem;
}
@media screen and (max-width: 1300px) {
  .nav-search-div {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  #login-btn,
  .gu-icon {
    display: none;
  }
}
