/* footer */
.footer {
  width: 100%;
  background: var(--black);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 2rem;
  font-size: 1.2rem;
  color: var(--primary-color);
  gap: 1rem;
  padding: 1.5rem 8rem;
}
.footer a {
  text-decoration: none;
  color: var(--primary-color);
}
.footer-icon-container {
  display: flex;
  gap: 1.5rem;
}
.footer-icon {
  font-size: 1.5rem;
}
.footer-titles {
  margin-left: -1rem;
  margin-bottom: 0.5rem;
}
.footer-text {
  font-size: 1rem;
  margin: 1rem 0 0 -4.2rem;
}
@media screen and (max-width: 600px) {
  .footer-titles {
    margin-left: 0;
  }
  .footer-text {
    font-size: 1rem;
    margin-left: 0;
  }
  .footer {
    padding: 2rem;
  }
}
